<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home page</title>
<%- include('./partials/bootstrap_cdn') %>
   
</head>
<body>
   <%- include('./partials/navbar') %>
    <h1>Lorem ipsum dolor sit, amet consectetur adipisicing elit.s!</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius dolores adipisci ratione illo eveniet itaque sint corporis accusamus quas quam. Blanditiis quidem architecto debitis aliquam, ea hic enim error dolore?
    Maiores corrupti commodi vitae possimus amet placeat, sit itaque aspernatur voluptatem distinctio tempora fugit, corporis tenetur incidunt at deleniti, suscipit sunt recusandae quae vel blanditiis modi! Tempora officia odit voluptas.
    Ea quasi aperiam consectetur cumque est consequatur itaque nemo amet maxime magni error assumenda expedita illum, fugiat laboriosam reprehenderit veniam distinctio modi, ex enim unde ad. Labore, omnis nemo! Sed?</p>
    <%- include('./partials/footer') %>
</body>
</html>