<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <%- include('./partials/bootstrap_cdn') %>

</head>
<body>
    <%- include('./partials/navbar') %>
<h3 style="text-align: center;">Login or Register if you don't have an account, in order to create and view your notes.</h3>
    <div class="card" style="width: 18rem;margin:3rem auto">
        <div class="card-body">
            <form action="/login" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="email">Enter email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                 
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pass">Enter password</label>
                    <input class="form-control" type="password" name="password" id="pass" required>
                   
                </div>
<div  class="mb-2">
    <span>Not a User?<a href="/register">register</a></span>

</div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
      </div>


      
</body>
</html>