<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login page</title>
    <%- include('./partials/bootstrap_cdn') %>

</head>
<body>
    <%- include('./partials/navbar') %>
    <h3 style="text-align: center;">Register, if you already have an account please login, in order to create and view your notes.</h3>

    <div class="card" style="width: 18rem;margin:3rem auto">
        <!-- <img src="..." class="card-img-top" alt="..."> -->
        <div class="card-body">
            <form action="/register" method="POST" novalidate>
                <div class="mb-3">
                    <label class="form-label" for="email">Enter Email</label>
                    <input class="form-control" type="email" name="email" id="email" required>
                 
                </div>
                <div class="mb-3">
                    <label class="form-label" for="username">Enter UserName</label>
                    <input class="form-control" type="text" name="username" id="username" required>
                 
                </div>
                <div class="mb-3">
                    <label class="form-label" for="pass">Enter password</label>
                    <input class="form-control" type="password" name="password" id="pass" required>
                   
                </div>
                <div class="mb-2">
                    <span>Already a User?<a href="/login">login</a></span>
                
                </div>
                <button class="btn btn-success">Submit</button>
            </form>
        </div>
      </div>


      
</body>
</html>